

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    
        <h2 class="text-danger">Something went wrong.</h2>
        <p>An error occurred while processing your request.</p>
   
</body>
</html>
