

@{
    ViewBag.Title = "TasksStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tasks Status</h2>

<p  class="alert-warning">
  
        Please be patient  it may take few minutes to complete all the tasks.
        We recomend not to close the browser window untill all the tasks are completed.
   
</p>
<div id="countDown" class="text-primary"></div>
<div id="status">

</div>

<script type="text/javascript">
    var remainignSeconds = 120;
    $(document).ready(
        function()
        {
            updateStatus()
            remainignSeconds = 120;
            setCountdown();       
            //var timerId = setInterval(updateStatus(), 1000);
        }
    );

    function updateStatus() {
        $.ajax(
            {
                url: "Tasks?orgId=9"
            }
        ).done(
            
            function (result) {
               
                remainignSeconds = 120;
                $("#status").html(result);
            }
        );
    }

    function setCountdown() {
        setInterval(function () {
            $("#countDown").text("Status will refresh in " + remainignSeconds + " secs.");
            remainignSeconds--;
            if (remainignSeconds == 0) {
                updateStatus();
                remainignSeconds = 120;
            }
        }, 1000)
    }
</script>