@model string

@{
    ViewBag.Title = "TasksStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tasks Status</h2>

<p  class="alert-warning">
  
        Please be patient  it may take few minutes to complete all the tasks.
        We recomend not to close the browser window untill all the tasks are completed.
    <br />
      
   
</p>

<div id="countDown" class="text-primary">Retriving tasks...</div>
<form>
    @Html.Hidden("tenantId",Model)
    <div id="status">
        
    </div>
</form>
<script type="text/javascript">
    var remainignSeconds = 30;
    $(document).ready(
        function()
        {
            updateStatus()
            remainignSeconds = 30;
            setCountdown();       
            //var timerId = setInterval(updateStatus(), 1000);
        }
    );

    function updateStatus() {
        $("#status").html("Contacting server..");
        $.ajax(
            {
                url: "Tasks?tenantId=" + $("#tenantId").val(),
                async:false
            }
        ).done(
            
            function (result) {
               
                remainignSeconds = 30;
                $("#status").html(result);
            }
        );
    }

    function setCountdown() {
        setInterval(function () {
            var tntId = $("#tenantId").val()
            $("#countDown").html("Status will refresh in " + remainignSeconds + " secs.<br/> Click <a href='ResumeTasks?tenantId=" + tntId + " >here</a> to refresh.");
            remainignSeconds--;
            if (remainignSeconds == 0) {
                updateStatus();
                remainignSeconds = 30;
            }

        }, 1000)

        setInterval(function () {
            $.ajax(
                {
                    url: "ProcessTasks?tenantId=" + $("#tenantId").val(),
                    async: false
                }
            )
        }, 15000);
    }
</script>